<div class="modal-header">
    <h4 class="modal-title">Regist Days</h4>
</div>
<div class="modal-body">
    <form novalidate class="form-horizontal" role="form" name="fm">
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">name</label>
            <div class="col-sm-9">
                <input type="text" name="name" id="name" class="form-control" ng-model="days.name" required placeholder="名前">
                <span class="text-danger" ng-show="fm.name.$error.required">名前は必須です</span>
            </div>
        </div>
    <!--
        <div style="display:inline-block; min-height:290px;">
            <datepicker ng-model="days.anniv_at" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
        </div>
    -->
        <div class="form-group">
            <label for="desc" class="col-sm-3 control-label">日付</label>
            <div class="col-sm-9">
                <p class="input-group date-input">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" name="anniv_at" ng-model="days.anniv_at" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <span class="text-danger" ng-show="fm.anniv_at.$error.required">日付は必須です</span>
                <span ng-show="days.anniv_at">( {{days.anniv_at | date: 'yyyy-MM-dd' | JDate: 1 }} )</span>
            </div>
        </div>
        <div class="form-group">
            <label for="desc" class="col-sm-3 control-label">メモ</label>
            <div class="col-sm-9">
                <textarea name="desc" id="desc" class="form-control" style="height:100px;" ng-model="days.desc" placeholder="メモ"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">キャンセル</button>
    <button class="btn btn-default btn-primary" ng-click="save()">保存</button>
</div>
